* {
  margin: 0;
  padding: 0;
}
.Mysection {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: white;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.Mydivf {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;

  align-items: center;
  background-color: blue;
  color: white;
}

.mainnav {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Mydiv {
  width: 40%;
  height: 50%;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 4px;
  margin-top: 10%;
  padding-left: 10px;

  color: white;
  box-shadow: 3px 3px 3px 4px blue;
}
.Myform {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.myh1 {
  border-bottom: 1px solid blue;
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: blue;
}

.inpbox {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  width: 70%;
  outline: none;
}

.Myspan {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  color: blue;
  border: none;
  padding: 10px;
}

.inp {
  outline: none;
  justify-content: start;

  caret-color: red;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid blue;
}

.Mybtn {
  border-radius: 20px;
  padding: 10px;

  cursor: pointer;

  border: none;
  color: white;
  background-color: blue;
}
